*{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Mulish', sans-serif;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: rgb(26, 33, 96);
}
.main{
    background-color: rgb(236, 236, 236);
    height: 25rem;
    width: 30rem;
    border: 1px solid rgb(253, 253, 253);
    border-radius: 0.8rem;
    margin: 5rem auto;
    box-shadow: 10px 10px 15px 10px rgb(27, 27, 27);
}
h2{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: darkblue;
    font-weight: 700;
}
.add-list{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
}
.add-list p{
    font-weight: 500;
    color:darkblue;
    padding-left: 1rem;
}
.adder-input{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(229, 229, 229);
    border-radius: 1rem;
    padding-left: 1.2rem;
    margin-bottom: 1.5rem;
    margin: 1rem;
    box-shadow: 1px 3px 5px 5px rgb(163, 163, 163);
}
.add-input{
    flex: 1;
    border: none;
    outline: none;
    background: rgb(229, 229, 229);
}

button{
    background-color: orange;
    color:white;
    border: none;
    width: 4rem;
    height: 2rem;
    border-radius: 1rem;
    cursor: pointer;
}
button:hover{
    background-color: rgb(44, 238, 0);
    color:white;
    border: none;
    width: 4rem;
    height: 2rem;
    border-radius: 1rem;
    cursor: pointer;
}
#list li{
    list-style: none;
    padding: 12px 8px 12px 50px;
    font-size: 1rem;
    font-weight: 400;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
    border-radius: 50%;
}
ul li.checked{
    text-decoration: line-through;
    color: #555;
}
ul li.checked::before{
    background-image: url(./images/checked.png);
}
ul li span{
    position: absolute;
    top: 5px;
    right: 50px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: darkblue;
    text-align: center;
    line-height:40px;
}
ul li span:hover{
    background: rgba(255, 15, 15, 0.1);
    border-radius: 50%;
    font-size: 25px;
    color: rgb(255, 0, 0);
}